@charset "ISO-8859-1";

.row {
	margin: 0 10px;
}


/* Add a card effect for articles */
.mycard {
/* 	background-color: var(--xslightGreen); */
	width: 240px;
	margin: 10px;
	margin-top: 70px;
	color: var(--primaryGreen);
/* 	border-radius: 5px; */
/* 	border: 2px solid var(--primaryGreen); */
/* 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.mycard p {
	color: red;
}

.mycard h6 {
	color: var(--boldGreen);
}

.mycard .img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.row .pagination ul li a {
	color: var(--primaryGreen);
}

/* Responsive layout - when the screen is less than 678px wide,
make the tow columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 678px) { */
/* 	.leftcolumn, .rightcolumn { */
/* 		width: 100%; */
/* 		padding: 0; */
/* 	} */
/* } */
